.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  min-height: 100vh;
  gap: 1.5rem;
}

.filter {
  display: inherit;
  align-items: inherit;
  justify-content: flex-end;
  gap: 0.5rem;
  max-width: var(--max-width);
  width: 100%;

  padding: 0 0.5rem;

  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: var(--border-radius);
}

.filter p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.center {
  display: inherit;
  align-items: inherit;
  justify-content: center;
  max-width: var(--max-width);
  width: 100%;

  padding: 0.5rem;

  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: var(--border-radius);
}

/* Mobile */
@media (max-width: 1148px) {
  .filter,
  .center
  {
    border: none;
  }
}
